.interior-imgs {
  height: 80vh;

  display: flex;
  justify-content: center;
  background-image: url(../../assets/port1-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transition: background-image 0.7s ease-in-out;
  margin-top: 5rem;
}

.interior-title {
  text-align: center;
  font-size: 2.8em;
  font-weight: 500;
  color: #c99649;
}
